.container{
    display: flex;
    justify-content: space-around;
    border: 2px solid #022B3A;
    margin: 2rem;
    border-radius: 15px;
    font-size: larger;
}
.text{
    font-size: 40px;



}
@media  (max-width: 570px) {
    .text{
        font-size: 20px;

    }
    .container{
        margin:20px 0;
    }

  
    }
  